* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: cadetblue;
  margin: auto -16px;
  padding: 16px 32px;
  color: #eee;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  width: 50%;
}

.tools {
  display: flex;
  justify-content: right;
  width: 50%;
}

.notification p {
  margin: 8px 10px;
}

form.create-post {
  position: relative;
  width: 40%;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-post input,
form.create-post textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-post button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: cadetblue;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.post {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.post h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.post p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.post button,
.chat button {
  position: relative;
  float: right;
  margin-right: 10px;
  background-color: #fff;
  color: cadetblue;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.comment-icon {
  margin-right: 170px;
}

.like-comment-count {
  color: cadetblue;
  display: flex;
}

like-comment-count p {
  width: 50%;
}

p.comment-count {
  margin: 2px 20px 2px;
}

p.like-count {
  margin-left: 140px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.post input,
.chat input {
  margin-top: 10px;
  border: none;
  outline: none;
  width: 75%;
  padding: 5;
  resize: vertical;
}

.chat .chat-header {
  display: flex;
}

.chat-header p {
  width: 50%;
  margin: auto 0;
}

.chat-header button {
  background-color: #fff;
  border: none;
  margin: auto 0;
}

.chat-header input {
  width: 50%;
  height: 30px;
  margin-top: 0;
}

.comment-text {
  font-size: 14px;
  color: darkslategray;
}

/* .input :focus {
  border-color: cadetblue;
  outline: none;
} */
.chat-icon {
  position: fixed;
  bottom: 50px;
  right: 100px;
}

.back-button button {
  background-color: #fff;
  color: cadetblue;
  border: none;
  outline: none;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
